#pole{
    height:50px;
    width:25px;
    justify-content: center;
}

#mainContainer{
    height: 170px;
    width: 75px;
    display: block;
    justify-content: center;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    text-align: center;
    cursor:pointer; 
}
.red{
    background: red;    
    font-size: 35px;
     
      
    }
.orange{
    background: orange;
   
}
.green{    
    background: greenyellow;    
    font-size: 35px;    
}

.selected{
 box-shadow: 0px 0px 25px 10px lightgoldenrodyellow;   
}
